html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;

}

::-webkit-scrollbar {
  width: 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-color: #151718;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  max-width: 1400px;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.layout {
  padding: 10px;
  padding-top: 0;

}

.navbar-container {
  position: fixed;
  height: 40px;
  top:0;
  left: 0;
  display: flex;
justify-content: center;
min-width: 100%;
z-index: 100;

background-color: #232627;
box-shadow: 1px 5px 20px 3px rgb(0 0 0 / 30%);
}
.main-nav{
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  padding-inline: 100px;
min-width: 100%;

text-align: center;
  padding: 0 50px;
  
}

.marquee-text {
  font-size: 29px;
  font-weight: 600;
  margin: 60px 0px;
  color: #f02d34;
}

.marquee {
  position: relative;
  height: 400px;
  width: 100%;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 15s linear infinite;
  width: 180%;
}

.track:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

span.text-red {
  -webkit-text-stroke: 1px #f02d34;
  margin-left: 6px;
}

.logo {
  color: gray;
  font-size: 18px;

}

.iconss {

  display: flex;
  gap: 10px;
  margin: 0;

}

.icons {
 
  font-size: 30px;
  border-radius: 50%;
  padding: 5px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.icons:hover {
  transform: scale(1.1, 1.1);
  color: blue;
}

.icons:nth-child(2):hover {
  transform: scale(1.1, 1.1);
  color: red;
}

.actions {
  display: flex;
  gap: 1em;
  color: gray;
  justify-content: center;
  align-items: center;
}


.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
  opacity: 1;
}

.sign-up-container {
  left: 0;
  width: 50%;
  z-index: 1;
  opacity: 0;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay {
  background: #ff416c;
  background: linear-gradient(to right, #ff4b2b, #ff416c) no-repeat 0 0 /cover;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform .6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0 40px;
  height: 100%;
  width: 50%;
  text-align: center;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.overlay-left {
  transform: translateX(-20%);
}

/* Animate */

/* Sign in Active */
.container.right-panel-active .sign-in-container {
  transition: transform 1s ease, opacity .9s ease-out;
  transform: translateX(100%);
  opacity: 0;
}

/* Sign up Active */
.container.right-panel-active .sign-up-container {
  transition: transform 1s ease, opacity 0.9s ease-in;
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

/* Overlay-signup to left */
.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

/* Overlay */
.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.login {
  max-width: 200px;
  padding-inline: 12px;
  border-radius: 15px;
  border: none;
  text-transform: uppercase;
  background-color: #f02d34;
  color: #fff;
  cursor: pointer;
}
.order{
  color: #dcdcdc;
}
.order-btn {
  color: gray;
  background: none;
  border: none;
  cursor: pointer;
}

.container-100 {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  display: flex;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 768px;
  min-height: 400px;
  background-color: rgb(235, 235, 235);
  max-width: 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


.login-desc {}


.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container form {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: none;
  gap: 1rem;
  background-color: rgb(235, 235, 235);

}

.inputBox {
  position: relative;
  display: flex;
  flex-direction: column;

}

.inputBox p {
  position: relative;
  height: 0px;
  width: 0px;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  color: rgb(99, 99, 99);
  border: 1px solid gray;
  background-color: transparent;

}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  color: rgb(99, 99, 99);
  pointer-events: none;
  text-transform: uppercase;
  transition: 0.5s;
  font-size: 0.8em;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
  color: rgb(99, 99, 99);
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: rgb(235, 235, 235);
}

.password {
  margin-top: 0.5rem;
}

.password-check {
  margin: 0;
  transform: translateX(180px) translateY(-38px);
}

.login-btn {
  width: 100%;
  max-width: 200px;
  padding: 10px 12px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #f02d34;
  color: #fff;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.login-btn:disabled {
  background-color: rgba(128, 128, 128, 0.562);
  cursor: default;
}

button.ghost {
  width: 100%;
  max-width: 200px;
  padding: 10px 12px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;

}

.login-btn,
button.ghost:hover {
  background-color: #ce292f;
}

.clr-btn {
  border: none;
  border-bottom: 1px solid black;
  background: none;
}


.cart-icon {
  font-size: 25px;
  color: gray;
  cursor: pointer;
  position: relative;
  transition: transform .4s ease;
  border: none;
  background-color: transparent;
  display: flex;
}

.cart-icon:hover {
  transform: scale(1.1, 1.1);
}

.cart-item-qty {
  position: absolute;
  right: -8px;
  top: -5px;
  font-size: 12px;
  color: #eee;
  background-color: #f02d34;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;

}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  width: 100%;

}

.product-card {
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  color: #d3cfc9;

}

.product-card:hover {
  transform: scale(1.1, 1.1)
}

.product-image {
  border-radius: 15px;
  background-color: #202325;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.product-name {
  font-weight: 500;
}

.product-price {
  font-weight: 800;
  margin-top: 6px;
  color: #e2e2e2;
}

.hero-banner-container {
  padding: 50px 40px;
  background-color: #292d2f;
  border-radius: 15px;
  position: relative;
  height: 100%;
  line-height: 0.9;
  width: 100%;
  margin-top: 100px;
}

.hero-banner-container .beats-solo {
  font-size: 20px;
  color: #D3cfc9;
}

.hero-banner-container button {
  border-radius: 15px;
  padding: 10px 16px;
  background-color: #f02d34;
  color: white;
  border: none;

  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index: 10000 !important;
}

.hero-banner-container h3 {
  font-size: 4rem;
  margin-top: 4px;
  color: #D3cfc9;
}

.hero-banner-container h1 {
  color: white;
  font-size: 10em;
  font-weight: 700;
  margin-top: -30px;
  margin-left: -20px;
  text-transform: uppercase;
}

.hero-banner-image {
  position: absolute;
  top: 0%;
  right: 5%;
  width: 450px;
  height: 450px;
}


.desc {
  width: 300px;
  line-height: 1.3;
  color: #324d67;
}

.desc p {
  color: #d3cfc9;
  font-weight: 100;

}

.desc h5 {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  /* color: black; */
  align-self: flex-end;
}

.products-heading {
  text-align: center;
  margin: 40px 0px;
  color: #D3cfc9;

}

.products-heading h2 {
  font-size: 40px;
  font-weight: 800;
}

.products-heading p {
  font-size: 16px;
  font-weight: 200;
}

.footer-banner-container {
  padding: 100px 40px;
  background-color: #f02d34;
  border-radius: 15px;
  position: relative;
  height: 400px;
  line-height: 1;
  color: white;
  width: 100%;
  margin-top: 120px;
}

.banner-desc {
  display: flex;
  justify-content: space-between;
}

.banner-desc button {
  border-radius: 15px;
  padding: 10px 16px;
  background-color: white;
  color: red;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.banner-desc .left h3 {
  font-weight: 900;
  font-size: 80px;
  margin-left: 25px;
}

.banner-desc .left p {
  margin: 18px;
}

.footer-banner-image {
  position: absolute;
  /* top: -35%;
  left: 8%; */
  top: -25%;
  left: 25%;
}

.banner-desc .right {
  line-height: 1.4;
}

.banner-desc .right h3 {
  font-weight: 800;
  font-size: 60px;
}

.banner-desc .right p {
  font-size: 18px;
}

.banner-desc .right .company-desc {
  font-size: 14px;
  font-weight: 300;
}

.cart-wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
  transition: all 1s ease-in-out;

}

.cart-container {
  height: 100vh;
  width: 600px;
  background-color: #202325;
  float: right;
  padding: 40px 10px;
  position: relative;
color: white;
}

.footer-container {
  color: #324d67;
  text-align: center;
  margin-top: 20px;
  padding: 30px 10px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;

}

.footer-container .icons {
  font-size: 30px;
  display: flex;
  gap: 10px;
}

.cart-heading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.cart-heading .heading {
  margin-left: 10px;
}
.cart-heading span:nth-child(2) {
  color: #d3cfc9;
}

.cart-num-items {
  margin-left: 10px;
  color: #f02d34;
}

.empty-cart {
  margin: 40px;
  text-align: center;
}

.empty-cart h3 {
  font-weight: 600;
  font-size: 20px;
}


.cancel {
  cursor: pointer;
}

.product-container {
  margin-top: 15px;
  overflow: auto;
  max-height: 70vh;
  padding: 20px 10px;
}

.product {
  display: flex;
  gap: 30px;
  padding: 20px;
}

.product .cart-product-image {
  width: 180px;
  height: 150px;
  border-radius: 15px;
  background-color: #202325;
}

.item-desc .flex {
  display: flex;
  justify-content: space-between;
  width: 350px;
  color: white;

}

.item-desc .bottom {
  margin-top: 60px;
}

.flex h5 {
  font-size: 24px;
}

.flex h4 {
  font-size: 20px;
}

.total {
  display: flex;
  justify-content: space-between;
}

.total h3 {
  font-size: 22px;

}

.remove-item {
  font-size: 24px;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}

.cart-bottom {
  position: absolute;
  bottom: 12px;
  right: 5px;
  width: 100%;
  padding: 30px 65px;

}

.btn-container {
  width: 400px;
  margin: auto;
}

.btn {
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  margin-top: 10px;
  margin-top: 40px;
  text-transform: uppercase;
  background-color: #f02d34;
  color: #fff;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease, color 0.5s ease,background-color 0.5s ease;
}

.btn:hover {
  transform: scale(1.1, 1.1);
  color: #fff;
  background-color: #cc252b;
}

.product-detail-container {
  display: flex;
  gap: 40px;
  margin: 40px;
  margin-top: 60px;
  color: #d3cfc9;

}

.product-detail-image {
  border-radius: 15px;
  background-color: #ebebeb;

  width: 400px;
  height: 400px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.product-detail-image:hover {
  background-color: #cc252b;

}

.small-images-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.small-image {
  border-radius: 8px;
  background-color: #ebebeb;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.selected-image {
  background-color: #f02d34;
}

.reviews {
  color: #f02d34;
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.product-detail-desc h4 {
  margin-top: 10px;
}

.reviews p {
  color: #d3d3d3;
  margin-top: 18px;
}

.product-detail-desc .price {
  font-weight: 700;
  font-size: 26px;
  margin-top: 30px;
  color: #f02d34;
}

.price .old-price,
.product-price .old-price,
.price .old-price {
  color: gray;
  text-decoration: line-through;
}

.product-detail-desc .quantity {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
}

.product-detail-desc .buttons {
  display: flex;
  gap: 30px;
}

.buttons .add-to-cart {
  padding: 10px 20px;
  border: 1px solid #f02d34;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  color: #f02d34;
  cursor: pointer;
  width: 200px;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.buttons .add-to-cart:hover {
  transform: scale(1.1, 1.1)
}

.buttons .buy-now {
  width: 200px;

  padding: 10px 20px;
  background-color: #f02d34;
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.buttons .buy-now:hover {
  transform: scale(1.1, 1.1)
}

.quantity-desc {
  border: 1px solid gray;
  padding: 6px;
}

.quantity-desc span {
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
}

.quantity-desc .minus {
  border-right: 1px solid gray;
  color: #f02d34;
}

.quantity-desc .num {
  border-right: 1px solid gray;
  font-size: 20px;
}

.quantity-desc .plus {
  color: rgb(49, 168, 49);

}

.maylike-products-wrapper {
  margin-top: 120px;
}

.maylike-products-wrapper h2 {
  text-align: center;
  margin: 50px;
  color: #d3cfc9;

  font-size: 28px;
}

.maylike-products-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.max-qty {
  font-weight: 500;
  color: #f02d34;
}

.success-wrapper,
.cancel-wrapper {
  background-color: white;
  min-height: 60vh;

}

.success,
.cancel {
  width: 1000px;
  margin: auto;
  margin-top: 160px;
  background-color: #dcdcdc;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success .icon {
  color: green;
  font-size: 40px;
}

.success h2 {
  text-transform: capitalize;
  margin-top: 15px 0px;
  font-weight: 900;
  font-size: 40px;
  color: #324d67;
}

.success .email-msg {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.cancel p {
  font-size: 20px;
  font-weight: 600;
}

.success .description {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  margin-top: 30px;
}

.success .description .email {
  margin-left: 5px;
  color: #f02d34;
}

.product-max-qty {
  margin-top: 10px;
}

@media screen and (max-width:800px) {
  .hero-banner-container {
    height: 560px;
  }

  .hero-banner-image {
    width: 77%;
    height: 62%;
    top: -2%;
    right: -6%;
  }

  .footer-banner-container {
    height: 560px;
    margin-top: 80px;
  }

  .footer-banner-image {
    width: 77%;
    left: 30%;
    top: 6%;
    height: 56%
  }

  .banner-desc .left h3 {
    font-weight: 900;
    font-size: 50px;
    margin-left: 5px;
  }

  .banner-desc .left p {
    margin: 18px;
  }

  .banner-desc .right h3 {
    font-size: 45px;
  }

  .banner-desc .right p {
    font-size: 18px;
  }

  .banner-desc .right .company-desc {
    font-size: 14px;
  }

  .banner-desc {
    flex-wrap: wrap;
    gap: 20px;
  }

  .hero-banner-container {
    line-height: 1.3;
  }

  .hero-banner-container h1 {
    font-size: 50px;
  }

  .hero-banner-container h3 {
    font-size: 40px;
  }

  .hero-banner-container button {
    margin-top: 90px;
    z-index: 10000;
  }

  .desc {
    bottom: 60px;
  }

  .product-detail-container {
    flex-wrap: wrap;
  }

  .product-detail-container .product-detail-image {
    width: 350px;
    height: 350px;
  }

  .cart-container {
    width: 415px;
    padding: 4px;
  }

  .cart-heading {
    margin-top: 35px;
  }

  .product-container {
    margin-top: 10px;
  }

  .product {
    padding: 20px 5px;

  }

  .product .cart-product-image {
    width: 25%;
    height: 25%;
  }

  .buttons .add-to-cart {
    width: 150px;
  }

  .buttons .buy-now {
    width: 150px;
  }

  .product-detail-container {
    margin: 20px;
  }

  .item-desc .flex {
    width: 200px;
  }

  .top {
    flex-wrap: wrap;
    gap: 10px;


  }

  .item-desc .bottom {
    margin-top: 30px;
  }

  .flex h5 {
    font-size: 16px;
    color: #324d67;
  }

  .flex h4 {
    font-size: 16px;
    color: black;
  }

  .cart-bottom {
    padding: 30px;
  }

  .total h3 {
    font-size: 20px;
  }

  .track {
    animation: marquee 10s linear infinite;
    width: 550%;
  }

  .success-wrapper,
  .cancel-wrapper {

    min-height: 69vh;
  }

  .success,
  .cancel {
    width: 370px;
    margin-top: 100px;
    padding: 20px;
  }

  .success {
    height: 350px;
  }

  .success h2 {
    font-size: 17px;
  }

  .btn-container {
    width: 300px;
    margin: auto;
  }
}

@media screen and (max-width:600px) {
  .hero-banner-container {
    height: 450px;
  }

  .hero-banner-image {
    width: 100%;
    height: 90%;
    top: -2%;
    right: -6%;
  }

  .footer-banner-container {
    height: 560px;
    margin-top: 80px;
  }

  .footer-banner-image {
    width: 77%;
    left: 30%;
    top: 6%;
    height: 56%
  }

  .banner-desc .left h3 {
    font-weight: 900;
    font-size: 50px;
    margin-left: 5px;
  }

  .banner-desc .left p {
    margin: 18px;
  }

  .banner-desc .right h3 {
    font-size: 45px;
  }

  .banner-desc .right p {
    font-size: 18px;
  }

  .banner-desc .right .company-desc {
    font-size: 14px;
  }

  .banner-desc {
    flex-wrap: wrap;

  }

  .hero-banner-container {
    line-height: 0.5;
  }

  .hero-banner-container h1 {
    font-size: 100px;
  }

  .hero-banner-container h3 {
    font-size: 40px;
  }

  .hero-banner-container button {
    margin-top: 20px;
    z-index: 10000;
  }

  .desc {
    position: absolute;
    left: 8%;
    bottom: 17%;
    width: 300px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    color: #324d67;
  }

  .desc p {
    color: #5f5f5f;
    font-weight: 100;
    text-align: start;
  }

  .desc h5 {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 16px;
    /* color: black; */
    align-self: flex-end;
  }
}